* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --square-size: calc(100vmin / 8.5);
    --icon-size: calc(calc(100vmin / 8.5)*0.7);
    --padding-size: calc(calc(100vmin / 8.5)*0.1);
}

body {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

.white {
    height: var(--square-size);
    width: var(--square-size);
    background-color: #EDEBA0;
}

.black {
    height: var(--square-size);
    width: var(--square-size);
    background-color: #6C7D47;
}

.container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

i {
    font-size: var(--icon-size);
    padding: var(--padding-size);
    display: block;
}

@keyframes firstmove {
    0% {
        transform: translate(0vmin, 0vmin);
    }

    100% {
        transform: translate(0vmin, -23.52vmin);
        animation-timing-function: linear;
        
    }
}

.firstmove {
    animation-name: firstmove;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes secondmove {
    0% {
        transform: translate(0vmin, 0vmin);
    }

    100% {
        transform: translate(0vmin, 23.52vmin);
        animation-timing-function: linear;
        
    }
}

.secondmove {
    animation-name: secondmove;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 3s;
}

@keyframes thirdmove {
    0% {
        transform: translate(0vmin, 0vmin);
    }

    50% {
        transform: translate(0vmin, -23.52vmin);
    }

    100% {
        transform: translate(-11.76vmin, -23.52vmin);
    }
}

.thirdmove {
    animation-name: thirdmove;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 6s;
}

@keyframes fourthmove {
    0% {
        transform: translate(0vmin, 0vmin);
    }

    50% {
        transform: translate(0vmin, 23.52vmin);
    }

    100% {
        transform: translate(11.76vmin, 23.52vmin);
    }
}

.fourthmove {
    animation-name: fourthmove;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 9s;
}

@keyframes fifthmove {
    0% {
        transform: translate(0vmin, 0vmin);
    }

    50% {
        transform: translate(0vmin, -23.52vmin);
    }

    100% {
        transform: translate(11.76vmin, -23.52vmin);
    }
}

.fifthmove {
    animation-name: fifthmove;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 12s;
}

@keyframes sixthmove {
    0% {
        transform: translate(0vmin, 0vmin);
    }

    50% {
        transform: translate(0vmin, 23.52vmin);
    }

    100% {
        transform: translate(-11.76vmin, 23.52vmin);
    }
}

.sixthmove {
    animation-name: sixthmove;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 15s;
}